@import "../../sass/variable.scss";

.authBox {
    padding-top: 75px;
    margin: 0 auto;
    width: 300px;
    font-family: $text-font;

    .loginTitle {
        text-align: center;
    }

    .signupLink {
        margin-top: 15px;
        text-align: center;
        color: #512d38;
    }

    .title-font {
        font-family: $title-font;
    }

    #loginBtn {
        background: #512d38;
        font-family: $title-font;
        color: $light-text;
        border: none;
        font-size: 1.2em;
    }

    a {
        color: #512d38;
    }
}

