.sidebar {
    padding: 10px;
    background-color: #512d38;
    height: 100vh;
    display: inline-block;
    position: fixed;

}
.sidebar-header {
    margin: 20px;
    color: #ffe9f3;
}



.wrapper {
    background-color: #512d38;
    display: inline-block;
    position: fixed;
    padding: 20px;
    height: 100vh;

    /* min-height: 100%; */
}
 
i {
    margin-right: 4px;
}


.nav-link {
    font-size: 24px;
    color: #ffe9f3;
    margin-top: 10px;
}
