.sidebar {
    padding: 10px;
    background-color:#Adb6c4;
    height: 100vh;
    display: inline-block;
    position: fixed;

}
.sidebar-header {
    margin: 20px;
    color: whitesmoke;
}



.wrapper {
    background-color:#Adb6c4;
    display: inline-block;
    position: fixed;
    padding: 20px;
    height: 100vh;
}
 
i {
    margin-right: 4px;
}


.nav-link {
    font-size: 24px;
    color: whitesmoke;
    margin-top: 10px;
}
