.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin: 25px;
  margin-top: 35px;
  margin-bottom: 75px;
  float: left;
  border: 1px solid #f1f1f1;
  border-radius: 12px !important;
  perspective: 1000px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #512d38;
}

.frontTitle {
  font-size: 25px;
  font-weight: bold;
  color: whitesmoke !important;
}

.card-subtitle {
  font-size: 18px;
  color: #512d38
}

.card-text {
  color: #512d38;
  font-size: 18px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 12px !important;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px !important;

}

.flip-card-front {
  background-color: #87baab !important;
  color: #512d38;
  border-radius: 12px !important;
  height: 100%;
}

.card-body {
  background-color: #87baab
}

.flip-card-back {
  background: #ffe9f3 !important;
  color: #512d38;
  transform: rotateY(180deg);

  height: 100%;

 

}

.superBack {
  overflow: scroll;
  height: 343px;
  border: 2.5px solid #b27092;

}

.imageWrap {
  background-color: #87baab;
}
.image {
  margin-top: 7px;
  max-width: 150px;
  opacity: .2;
}
.card-text {
  padding: 4px;
}

#likeBtn {
  float: center;
}
.btn-secondary {
  background-color: #87baab !important;
}
#likeText {
  float: center;
}

.card {
  border-radius: 12px !important;

}

.input-group {
  margin-top: 9px !important;
  margin-bottom: 9px !important;
}

.input-group-text {
  background-color: #512d38 !important;
  color: whitesmoke !important;
}

.input-group-text:hover {
  cursor: pointer;
}

.commentText {
  border-top: 2px dotted rgb(135, 186, 171, .5);
}

#accessLink {
  color: #b27092 !important;
  padding-bottom: 12px !important;
}