html {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
// page colors 
$primary-color: #9bb1ff;
$background-color: #F5F5F5;

// text colors
$dark-text: black;
$light-text: #F5F5F5;

// fonts
// $title-font: 'Concert One', cursive;
$text-font:'Manjari', sans-serif;
$title-font:'Manjari', sans-serif;



$footer-height: 50px;
