
// page colors 
$primary-color: #BAD7F2;
$background-color: #F5F5F5;

// text colors
$dark-text: black;
$light-text: #F5F5F5;

// fonts
// $title-font: 'Concert One', cursive;
$text-font:'Chilanka', cursive;
$title-font:'Chilanka', cursive;

$footer-height: 50px;
