@import "../../sass/variable.scss";

.footer {
    width: 100%;
    left: 0;
    bottom:0;
    margin: 0 auto;
    position: fixed;
    height: $footer-height;
    background: #73565f;
    box-shadow: 1px 7px 3px 8px $dark-text;
    font-family: $text-font;
    color: $light-text;
    flex-shrink:0;
    p {
        line-height: $footer-height;
        width: 33%;
        margin: 0 auto;
        text-align: center;
        display: inline-block;
    }

    .gh-icon {
        color: $light-text;
        font-size: 1.3em;
    }


}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }