@import "../../sass/variable.scss";

.navbar {
    background: #73565f;
    box-shadow: 0 3px 10px $dark-text;
    font-family: $text-font;
    position: fixed;    
    
    .logo {
        max-height: 42px;
        margin-right: 5px;
    }

    a.titleFont {
        font-family: 'PT Mono', monospace;
        font-size: 2em;
        color: whitesmoke;
    }

    a.titleFont:hover {
        color: #ffe9f3;
        font-weight: bold;
    }

    a.nav-link {
        font-size: 1.2em;
    }

    .light-text {
        color: whitesmoke;
    }
}

