@import "../../sass/variable.scss";

    .profileBox {
        padding: 30px;
        height: 100%;
        background-color: whitesmoke;
        // text-align: center;

    }


.profilePage {
    // height: 100%;
    // margin: 0 auto;
    // margin-top: 25px;

    .noUser {
        width: 280px;
        text-align: center;
        margin: 0 auto;
        margin-top: 50px;

        .loginBtn {
            margin-top: 25px;
        }
    
        .loginLink {
            color: $light-text;
        }
    
        .loginLink:hover {
            text-decoration: none;
        }

        #loadingIcon {
            max-height: 200px !important;
            max-width: 200px !important;
            margin: auto;
            // margin-top: 25px;
        }
    }
}

.far,
.fa-times-circle {
    margin-left: 10px;
}

Filter {
    margin-right: 20px;
    }