@import "../../sass/variable.scss";

    .profileBox {
        padding: 30px;
        height: 100%;
        margin-bottom: 150px !important;
        background-color: whitesmoke;
    }
    
    #userTitle {
        color: #40242c;
    }


.profilePage {
    height: 100%;
    margin-bottom: 150px !important;
    // margin: 0 auto;
    // margin-top: 25px;
    h4 {
        color: #40242c;
    }

    .noUser {
        width: 280px;
        text-align: center;
        margin: 0 auto;
        margin-top: 50px;

        .loginBtn {
            margin-top: 25px;
            background-color: #512d38 !important;
        }
    
        .loginLink {
            color: $light-text;
        }
    
        .loginLink:hover {
            text-decoration: none;
        }

        #loadingIcon {
            height: 200px;
            width: 200px;
            position: center;
            // margin-top: 25px;
        }
    }
}

.far,
.fa-times-circle {
    margin-left: 10px;
}

Filter {
    margin-right: 20px;
    }