@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap');


.comingBox {
    background-color: #8e5974;
    margin: 0 auto;
    // margin-top: 5%;
    width: 100%;
    height:100%;
    // font-family: $text-font;

    .homeLogo {
        max-height: 400px;
    }


    h3 {
        color: #87baab !important;
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 3em !important;
    }
    h1 {
        font-size: 5em !important;
        vertical-align: middle;

    }
    h4 {
        margin-top: 5px;
        font-family: 'PT Sans', sans-serif;
    }

    i {
        font-size: 4em;
        margin-bottom: 5px !important;
    }

    .descWrap {
        min-height: 300px;
        width: 100%;
        background-color: whitesmoke;
    }

    .describeBox {
        color: #512d38;
        margin-top: 25px;
        // padding: 5px;
        // margin: 2px;
        // height: 100%;
        // border-radius: 12px;
        // border: 5px solid #F06C9B;
    }

    .jumbotron {
        font-family: 'PT Mono', monospace;
        background-color: #512d38;
        text-align: center;
        width: 100%;
        min-height: 550px;
        color:whitesmoke;

    }

    .jumboText {
        vertical-align: middle;
    }
    .landingRotating {
        // font-size: 2em !important;
        font-weight: 400 !important;
        color: whitesmoke!important;
        opacity: 0.5 !important;
      }

    button {
        font-size: 1.3em;
        font-weight: bold;
    }

    .linkedin{
        height:20px;
        width: 20px;
    }

}

.filter{
    background-color: white;
}


Button{
    background-color: #512d38; 
}

.allProjects{
    border: .25em black;
}